@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body, html {
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.containerTitle {
  float:left;
  color:#333;
  margin:0
}

.feedback {
  float:right;
  font-size: 11px;
  color:#333;
  text-decoration:none;
  margin-bottom:30px;
}

.feedback:hover {
  text-decoration:underline;
}
.containerSimilar {
  border: 1px solid grey;
  padding: 30px;
}

.item_price {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.shipping {
  font-size: 13px;
  margin: 0;
  color:#767676;
}

.slick-prev {
  left: -2.0% !important;
  z-index: 1;
}
.slick-next {
  right: -1.0% !important;
  z-index: 1;
}

.slick-prev:before {
  color: grey;
  font-size: 30px;
  font-weight: 800;
}
.slick-next:before {
  color: grey;
  font-size: 30px;
  font-weight: 800;
}

.imgSimilar {
  height: 150px;
  width: 150px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item_name {
  font-size: 15px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}​

.slick-slide {
  text-align: left;
  box-sizing: border-box;
}