@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body, html {
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.container {
  border: 1px solid grey;
  padding: 8px;
}

.item_price {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.shipping {
  font-size: 13px;
  margin: 0;
  color:grey;
}

.slick-prev {
  left: 0% !important;
  z-index: 1;
}
.slick-next {
  right: 0% !important;
  z-index: 1;
}

.slick-prev:before {
  color: grey;
  content: '<';
  font-size: 30px;
  font-weight: 800;
}
.slick-next:before {
  color: grey;
  content: '>';
  font-size: 30px;
  font-weight: 800;
}

img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item_name {
  font-size: 15px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}​

.slick-slide {
  text-align: left;
  padding: 0 8px;
  box-sizing: border-box;
}